body {
  background-color: bisque;
}

.nav-logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-image: url('../assets/images/logo.jpg');
  background-size: cover;
}

.card-rating {
  font-size: 14px;
  font-weight: bold;
}

#scrollableModal{
  background: rgba(255, 228, 196, 0.8);
}

.modalImage{
  min-width: 200px;
  min-height: 200px;
}
.wrapper {
  min-height: calc(100vh - 80px);
}

.footer-icons li a svg {
  width: 30px;
  height: 30px;
}

.card-size {
  width: 18rem;
}
